<form [formGroup]="form" (ngSubmit)="submit()" class="mt-8 grid grid-cols-2 gap-6">
  <div class="bg-gray-100 dark:bg-gray-900 block col-span-2 lg:col-span-1 p-4 rounded-md">
    <h1 class="text-xl text-gray-800 dark:text-gray-200 font-medium mb-2">Left Eye</h1>
    <div class="block col-span-2 sm:col-span-1">
      <label for="LefEyeImage"
             class="block text-sm font-medium text-gray-700 dark:text-gray-200">
        Image
      </label>

      <input
        type="file"
        id="LefEyeImage"
        class="mt-1 w-full p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
        formControlName="leftEyeImage"
        (change)="onLeftEyeImagesChanged($event)"

      />
    </div>
    <div class="block">
      <label
        for="LefEyeClassification"
        class="block text-sm font-medium text-gray-700 dark:text-gray-200"
      >
        Classification
      </label>

      <select
        id="LefEyeClassification"
        class="w-full mt-1 p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
        formControlName="lefEyeClassification"
      >
        <option value="" selected disabled>--SELECT CLASSIFICATION--</option>
        <option value="UNKNOWN">Unknown</option>
        <option value="NONE">None</option>
        <option value="CLASS_1">Class 1</option>
        <option value="CLASS_2">Class 2</option>
        <option value="CLASS_3">Class 3</option>
        <option value="CLASS_4">Class 4</option>
      </select>
    </div>
    <div class="block">
      <label
        for="LeftEyeNotes"
        class="block text-sm font-medium text-gray-700 dark:text-gray-200"
      >
        Notes
      </label>

      <textarea
        type="text"
        id="LeftEyeNotes"
        class="w-full mt-1 p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
        formControlName="lefEyeNotes"
      ></textarea>

    </div>

  </div>

  <div class="bg-gray-100 dark:bg-gray-900 block col-span-2 lg:col-span-1 p-4 rounded-md">
    <h1 class="text-xl text-gray-800 dark:text-gray-100 font-medium mb-2">Right Eye</h1>

    <div class="block col-span-2 sm:col-span-1">
      <label
        for="Image"
        class="block text-sm font-medium text-gray-700 dark:text-gray-200"
      >
        Image
      </label>

      <input
        type="file"
        id="Image"
        class="mt-1 w-full p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
        formControlName="rightEyeImage"
        (change)="onRightEyeImagesChanged($event)"

      />
    </div>
    <div class="block col-span-2 sm:col-span-1">
      <label
        for="Classification"
        class="block text-sm font-medium text-gray-700 dark:text-gray-200"
      >
        Classification
      </label>

      <select
        id="Classification"
        class="w-full mt-1 p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
        formControlName="rightEyeClassification"
      >
        <option value="" selected disabled>--SELECT CLASSIFICATION--</option>
        <option value="UNKNOWN">Unknown</option>
        <option value="NONE">None</option>
        <option value="CLASS_1">Class 1</option>
        <option value="CLASS_2">Class 2</option>
        <option value="CLASS_3">Class 3</option>
        <option value="CLASS_4">Class 4</option>
      </select>
    </div>

    <div class="block col-span-full sm:col-span-1">
      <label
        for="RightEyeNotes"
        class="block text-sm font-medium text-gray-700 dark:text-gray-200"
      >
        Notes
      </label>
      <textarea
        type="text"
        id="RightEyeNotes"
        class="w-full mt-1 p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
        formControlName="rightEyeNotes"
      ></textarea>
    </div>
  </div>
  <div class="col-span-full sm:flex sm:items-center sm:gap-4">
    <input type="submit" [disabled]="form.invalid"
           class="cursor-pointer disabled:opacity-50 inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-2 text-sm font-medium text-white transition enabled:hover:bg-transparent enabled:hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500 dark:enabled:hover:bg-blue-700 dark:enabled:hover:text-white"
           value="Submit"
    />
  </div>
</form>
