<div>
  <div class="flex justify-between items-center min-w-max m-2">
    <div>
      <input type="date"
             class="border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200 px-4 py-2 mx-1 rounded-md active:shadow-inner"
             value="{{date | date:'yyyy-MM-dd'}}" (change)="dateChanged($event)">
    </div>
    <div class="flex items-center">
      <form (ngSubmit)="search()">
        <label class="relative">
          <input type="text"
                 placeholder="Search patient"
                 class="mt-1 w-64 p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
                 name="searchTerm"
                 [(ngModel)]="searchTerm"
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="pointer-events-none absolute end-3 top-1/2 transform -translate-y-1/2 h-4 w-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
            />
          </svg>

        </label>
      </form>
      <a class="rounded-md bg-blue-600 text-white px-4 py-2 ml-2 text-sm flex active:shadow-inner shadow"
         routerLink="/patients/create">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-5 w-5 mr-2" viewBox="0 0 16 16">
          <path
            d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
          <path fill-rule="evenodd"
                d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
        </svg>
        New Patient
      </a>
    </div>
  </div>
  <div *ngIf="page.totalPages!==0">
    <table
      class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm dark:divide-gray-700 dark:bg-gray-900 rounded-lg "
    >

      <tr class="select-none">

        <th (click)="sort('cin')"
            class="text-left cursor-pointer whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white"
        >
          <svg *ngIf="sortBy==='cin'&&asc" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline"
               fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
            <path
              d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
          </svg>
          <svg *ngIf="sortBy==='cin'&&!asc" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
               class="h-5 w-5 inline" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
            <path
              d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zm-8.46-.5a.5.5 0 0 1-1 0V3.707L2.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L4.5 3.707V13.5z"/>
          </svg>
          CIN
        </th>

        <th (click)="sort('firstName')"
            class="text-left cursor-pointer whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white"
        >
          <svg *ngIf="sortBy==='firstName'&&asc" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline"
               fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
            <path
              d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
          </svg>
          <svg *ngIf="sortBy==='firstName'&&!asc" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
               class="h-5 w-5 inline" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
            <path
              d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zm-8.46-.5a.5.5 0 0 1-1 0V3.707L2.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L4.5 3.707V13.5z"/>
          </svg>
          Name
        </th>
        <th (click)="sort('birthDate')"
            class="text-left cursor-pointer whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white"
        >
          <svg *ngIf="sortBy==='birthDate'&&asc" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline"
               fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
            <path
              d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
          </svg>
          <svg *ngIf="sortBy==='birthDate'&&!asc" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
               class="h-5 w-5 inline" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
            <path
              d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zm-8.46-.5a.5.5 0 0 1-1 0V3.707L2.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L4.5 3.707V13.5z"/>
          </svg>
          Birth Date
        </th>
        <th (click)="sort('gender')"
            class="text-left cursor-pointer whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white"
        >
          <svg *ngIf="sortBy==='gender'&&asc" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline"
               fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
            <path
              d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
          </svg>
          <svg *ngIf="sortBy==='gender'&&!asc" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
               class="h-5 w-5 inline" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
            <path
              d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zm-8.46-.5a.5.5 0 0 1-1 0V3.707L2.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L4.5 3.707V13.5z"/>
          </svg>
          Sex
        </th>
        <th (click)="sort('referable')"
            class="text-left	cursor-pointer whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white"
        >
          <svg *ngIf="sortBy==='referable'&&asc" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline"
               fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
            <path
              d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
          </svg>
          <svg *ngIf="sortBy==='referable'&&!asc" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
               class="h-5 w-5 inline" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
            <path
              d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zm-8.46-.5a.5.5 0 0 1-1 0V3.707L2.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L4.5 3.707V13.5z"/>
          </svg>
          Referable
        </th>
        <th class="px-4 py-2"></th>
      </tr>

      <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
      <tr *ngFor="let patient of page.content" routerLink="/patients/{{patient.id}}" class="hover:shadow-inner select-none cursor-pointer">
        <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white">
          {{patient.cin}}
        </td>
        <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white">
          {{patient.firstName}} {{patient.lastName}}
        </td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700 dark:text-gray-200">
          {{patient.birthDate}}
        </td>
        <td
          class="whitespace-nowrap px-4 py-2 text-gray-700 dark:text-gray-200"
        >
          {{patient.gender | titlecase}}
        </td>
        <td
          class="whitespace-nowrap px-4 py-2 text-gray-700 dark:text-gray-200"
        >
          <svg *ngIf="patient.referable" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-green-500" fill="currentColor" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg>
          <svg *ngIf="!patient.referable" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-red-500" fill="currentColor"  viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>

        </td>
      </tr>
      </tbody>
    </table>

    <ol *ngIf="page.totalPages>1" class="flex justify-center gap-1 text-xs font-medium mt-8">
      <li>
        <a *ngIf="page.number!==0"
           (click)="updatePage(page.number-1)"
           class="select-none cursor-pointer inline-flex h-8 w-8 items-center justify-center rounded text-gray-900 hover:bg-gray-200 active:shadow-inner dark:text-gray-100 dark:hover:bg-gray-700"
        >
          <span class="sr-only">Prev Page</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-3 w-3"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
              clip-rule="evenodd"
            />
          </svg>
        </a>
      </li>

      <li *ngFor="let i of range(Math.max(page.number-5,0),Math.min(page.number+6,page.totalPages))">

        <a *ngIf="page.number===i"
           class="select-none cursor-pointer block h-8 w-8 rounded bg-gray-300  text-center leading-8 dark:bg-gray-800 dark:text-gray-100 hover:bg-gray-200 dark:hover:bg-gray-700 active:shadow-inner">
          {{i}}
        </a>

        <a *ngIf="page.number!==i" (click)="updatePage(i)"
           class="select-none cursor-pointer inline-flex h-8 w-8 items-center justify-center rounded text-gray-900 hover:bg-gray-200 dark:text-gray-100 dark:hover:bg-gray-700 active:shadow-inner">
          {{i}}
        </a>
      </li>

      <li>
        <a *ngIf="page.number!==page.totalPages-1"
           (click)="updatePage(page.number+1)"
           class="select-none cursor-pointer inline-flex h-8 w-8 items-center justify-center rounded text-gray-900 hover:bg-gray-200 active:shadow-inner dark:text-gray-100 dark:hover:bg-gray-700"
        >
          <span class="sr-only">Next Page</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-3 w-3"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"
            />
          </svg>
        </a>
      </li>
    </ol>
  </div>
  <div *ngIf="page.totalPages===0" class="flex justify-center items-center">
    <p *ngIf="searchTerm.length>3">
      No patients found
    </p>
    <p *ngIf="searchTerm.length<3">
        No patients have a consultation on this date
    </p>
  </div>
</div>
