<h1
  class="mt-6 text-2xl font-bold text-gray-900 dark:text-white sm:text-3xl md:text-4xl"
>
  Upload Image
</h1>
<form [formGroup]="form" (ngSubmit)="submit()" class="">
  <div class="block mt-6 w-64">
    <label
      for="Image"
      class="block text-sm font-medium text-gray-700 dark:text-gray-200"
    >
      Image
    </label>

    <input
      type="file"
      id="Image"
      class="mt-1 w-full p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
      formControlName="image"
      (change)="onFileChanged($event)"
    />
  </div>
  <div class="block mt-4 w-64">
    <label
      for="Classification"
      class="block text-sm font-medium text-gray-700 dark:text-gray-200"
    >
      Classification
    </label>

    <select
      id="Classification"
      class="w-full mt-1 p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
      formControlName="classification"
    >
      <option value="" selected disabled>--SELECT CLASSIFICATION--</option>
      <option value="1" >Unknown</option>
    </select>
  </div>
  <div class="block mt-4 w-64">
    <label
      for="Eye"
      class="block text-sm font-medium text-gray-700 dark:text-gray-200"
    >
      Eye
    </label>

    <select
      id="Eye"
      class="w-full mt-1 p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
      formControlName="rightEye"
    >
      <option value="" selected disabled>--SELECT EYE--</option>
      <option value="true">Unknown</option>
      <option value="true">Right Eye</option>
      <option value="false">Left Eye</option>
    </select>
  </div>
  <div class="block mt-4 w-64">
    <label
      for="dateTaken"
      class="block text-sm font-medium text-gray-700 dark:text-gray-200"
    >
      Date Taken
    </label>

    <input
      type="date"
      id="dateTaken"
      class="w-full mt-1 p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
      formControlName="dateTaken"
    />
  </div>
  <div class="block mt-4 w-64">
    <label
      for="notes"
      class="block text-sm font-medium text-gray-700 dark:text-gray-200"
    >
      Notes
    </label>

    <input
      type="text"
      id="notes"
      class="w-full mt-1 p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
      formControlName="notes"
    />
  </div>
  <div class="block mt-4 w-64">
    <input type="submit" [disabled]="form.invalid"
           class="cursor-pointer disabled:opacity-50 inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-2 text-sm font-medium text-white transition enabled:hover:bg-transparent enabled:hover:text-blue-600 focus:outline-none enabled:focus:ring active:text-blue-500 enabled:dark:hover:bg-blue-700 enabled:dark:hover:text-white"
           value="Upload"
    />

  </div>
</form>
