<div *ngIf="image.picturePath.length!==0">
  <div class="flex flex-col float-left gap-2">
    <img  (click)="setFilter('')" [src]="environment.apiEndPoint+'/images/'+image.picturePath | authenticate" alt="image"
         class="cursor-pointer w-12 h-12 object-center rounded-lg mr-4 shadow">

    <img (click)="setFilter('sepia')" [src]="environment.apiEndPoint+'/images/'+image.picturePath | authenticate" alt="image"
         class="sepia  cursor-pointer w-12 h-12 object-center rounded-lg mr-4 shadow">
    <img (click)="setFilter('grayscale')" [src]="environment.apiEndPoint+'/images/'+image.picturePath | authenticate" alt="image"
         class="grayscale cursor-pointer w-12 h-12 object-center rounded-lg mr-4 shadow">
    <img [src]="environment.apiEndPoint+'/images/'+image.picturePath | authenticate" alt="image"
         class="cursor-pointer w-12 h-12 object-center rounded-lg mr-4 shadow">
    <img [src]="environment.apiEndPoint+'/images/'+image.picturePath | authenticate" alt="image"
         class="cursor-pointer w-12 h-12 object-center rounded-lg mr-4 shadow">
    <img [src]="environment.apiEndPoint+'/images/'+image.picturePath | authenticate" alt="image"
         class="cursor-pointer w-12 h-12 object-center rounded-lg mr-4 shadow">
  </div>
  <img [src]="environment.apiEndPoint+'/images/'+image.picturePath | authenticate" alt="image"
       class="{{filter}} float-left w-96 rounded-lg mr-4 shadow">
  <ul>
    <li>Classification: {{image.classification}}</li>
    <li>Date Taken: {{image.dateTaken}}</li>
    <li>Eye: {{image.rightEye ? 'Left eye' : 'Right eye'}}</li>
    <li>Notes: {{image.notes}}</li>
    <li *ngIf="image.patient===null">Patient: Uknown</li>
    <li *ngIf="image.patient!==null">Patient:
      <a class="text-blue-600"
         routerLink="/patients/{{image.patient.id}}">{{image.patient.firstName + ' ' + image.patient.lastName}}</a>
    </li>    <li *ngIf="image.user===null">User: Uknown</li>
    <li *ngIf="image.user!==null">User:
      <a class="text-blue-600"
         routerLink="/users/{{image.user.id}}">{{image.user.firstName + ' ' + image.user.lastName}}</a>
    </li>
  </ul>
</div>
