<div class="max-w-xl lg:max-w-3xl">
  <h1
    class="mt-6 text-2xl font-bold text-gray-900 dark:text-white sm:text-3xl md:text-4xl"
  >
    Patient Details
  </h1>


  <form [formGroup]="form" (ngSubmit)="submit()" class="mt-8 grid grid-cols-8 gap-6">
    <div class="block col-span-4 sm:col-span-4">
      <label
        for="FirstName"
        class="block text-sm font-medium text-gray-700 dark:text-gray-200"
      >
        First Name
      </label>

      <input
        type="text"
        id="FirstName"
        class="mt-1 w-full p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
        formControlName="firstName"
      />
    </div>

    <div class="block col-span-4 sm:col-span-4">
      <label
        for="LastName"
        class="block text-sm font-medium text-gray-700 dark:text-gray-200"
      >
        Last Name
      </label>

      <input
        type="text"
        id="LastName"
        class="mt-1 w-full p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
        formControlName="lastName"
      />
    </div>

    <div class="block col-span-4 sm:col-span-4">
      <label
        for="CIN"
        class="block text-sm font-medium text-gray-700 dark:text-gray-200"
      >
        CIN
      </label>

      <input
        type="text"
        id="CIN"
        class="mt-1 w-full p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
        formControlName="cin"
      />
    </div>

    <div class="block col-span-4 sm:col-span-4">
      <label
        for="birthDate"
        class="block text-sm font-medium text-gray-700 dark:text-gray-200"
      >
        Birth Date
      </label>

      <input
        type="date"
        id="birthDate"
        class="mt-1 w-full p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
        formControlName="birthDate"
      />
    </div>

    <div class="block col-span-4 sm:col-span-4">
      <label
        for="gender"
        class="block text-sm font-medium text-gray-700 dark:text-gray-200"
      >
        Gender
      </label>

      <select
        type="text"
        id="gender"
        class="mt-1 w-full p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
        formControlName="gender"
      >
        <option value="" selected disabled>--SELECT GENDER--</option>
        <option>MALE</option>
        <option>FEMALE</option>
      </select>
    </div>

    <div class="block col-span-4 sm:col-span-4">
      <label
        for="phone"
        class="block text-sm font-medium text-gray-700 dark:text-gray-200"
      >
        Phone
      </label>

      <input
        type="text"
        id="phone"
        class="mt-1 w-full p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
        formControlName="phone"
      />
    </div>

    <div class="block col-span-4 sm:col-span-4">
      <label
        for="diabetesTypeId"
        class="block text-sm font-medium text-gray-700 dark:text-gray-200"
      >
        Diabetes Type
      </label>

      <select
        id="diabetesTypeId"
        class="mt-1 w-full p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
        formControlName="diabetesType"
      >
        <option value="" selected disabled>--SELECT DIABETES TYPE--</option>
        <option *ngFor="let item of diabetesTypes" [value]="item.id">{{item.name}}</option>

      </select>
    </div>

    <div class="block col-span-4 sm:col-span-4">
      <label
        for="region"
        class="block text-sm font-medium text-gray-700 dark:text-gray-200"
      >
        Region
      </label>

      <select
        id="region"
        class="mt-1 w-full p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
        formControlName="region"
      >
        <option value="" selected disabled>--SELECT REGION--</option>
        <option *ngFor="let item of regions" [value]="item.id">{{item.name}}</option>

      </select>
    </div>

    <div class="block col-span-4 sm:col-span-4">
      <label
        for="referable"
        class="block text-sm font-medium text-gray-700 dark:text-gray-200"
      >
        Referable
      </label>

      <select
        id="referable"
        class="mt-1 w-full p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
        formControlName="referable"
      >
        <option value="" selected disabled>--SELECT--</option>
        <option>TRUE</option>
        <option>FALSE</option>
      </select>
    </div>

    <div class="block col-span-4 sm:col-span-4">
      <label
        for="discoveryDate"
        class="block text-sm font-medium text-gray-700 dark:text-gray-200"
      >
        Discovery Date
      </label>

      <input
        type="date"
        id="discoveryDate"
        class="mt-1 w-full p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
        formControlName="discoveryDate"
      />
    </div>

    <div class="block col-span-4 sm:col-span-4">
      <label
        for="notes"
        class="block text-sm font-medium text-gray-700 dark:text-gray-200"
      >
        Notes
      </label>

      <input
        type="text"
        id="notes"
        class="mt-1 w-full p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
        formControlName="notes"
      />
    </div>


    <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
      <input type="submit" [disabled]="form.invalid"
             class="cursor-pointer disabled:opacity-50 inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition enabled:hover:bg-transparent enabled:hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500 dark:hover:bg-blue-700 dark:hover:text-white"
             value="Update"
      />

    </div>
  </form>
</div>
