<div *ngIf="patient && patient.consultations.length > 0">
  <div *ngIf="patient.consultations[selectedConsultationIndex].leftEye===null">

    <form [formGroup]="form" (ngSubmit)="submit()" class="mt-8 grid grid-cols-2 gap-6">
      <div class="bg-gray-100 dark:bg-gray-900 block col-span-2 lg:col-span-1 p-4 rounded-md">
        <h1 class="text-xl text-gray-800 dark:text-gray-200 font-medium mb-2">Left Eye</h1>
        <div class="block col-span-2 sm:col-span-1">
          <label for="LefEyeImage"
                 class="block text-sm font-medium text-gray-700 dark:text-gray-200">
            Image
          </label>

          <input
            type="file"
            id="LefEyeImage"
            class="mt-1 w-full p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
            formControlName="leftEyeImage"
          />
        </div>
        <div class="block">
          <label
            for="LefEyeClassification"
            class="block text-sm font-medium text-gray-700 dark:text-gray-200"
          >
            Classification
          </label>

          <select
            id="LefEyeClassification"
            class="w-full mt-1 p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
            formControlName="lefEyeClassification"
          >
            <option value="" selected disabled>--SELECT CLASSIFICATION--</option>
            <option value="UNKNOWN">Unknown</option>
            <option value="NONE">None</option>
            <option value="CLASS_1">Class 1</option>
            <option value="CLASS_2">Class 2</option>
            <option value="CLASS_3">Class 3</option>
            <option value="CLASS_4">Class 4</option>
          </select>
        </div>
        <div class="block">
          <label
            for="LeftEyeNotes"
            class="block text-sm font-medium text-gray-700 dark:text-gray-200"
          >
            Notes
          </label>

          <textarea
            type="text"
            id="LeftEyeNotes"
            class="w-full mt-1 p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
            formControlName="lefEyeNotes"
          ></textarea>

        </div>

      </div>

      <div class="bg-gray-100 dark:bg-gray-900 block col-span-2 lg:col-span-1 p-4 rounded-md">
        <h1 class="text-xl text-gray-800 dark:text-gray-100 font-medium mb-2">Right Eye</h1>

        <div class="block col-span-2 sm:col-span-1">
          <label
            for="Image"
            class="block text-sm font-medium text-gray-700 dark:text-gray-200"
          >
            Image
          </label>

          <input
            type="file"
            id="Image"
            class="mt-1 w-full p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
            formControlName="rightEyeImage"
          />
        </div>
        <div class="block col-span-2 sm:col-span-1">
          <label
            for="Classification"
            class="block text-sm font-medium text-gray-700 dark:text-gray-200"
          >
            Classification
          </label>

          <select
            id="Classification"
            class="w-full mt-1 p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
            formControlName="rightEyeClassification"
          >
            <option value="" selected disabled>--SELECT CLASSIFICATION--</option>
            <option value="UNKNOWN">Unknown</option>
            <option value="NONE">None</option>
            <option value="CLASS_1">Class 1</option>
            <option value="CLASS_2">Class 2</option>
            <option value="CLASS_3">Class 3</option>
            <option value="CLASS_4">Class 4</option>
          </select>
        </div>

        <div class="block col-span-full sm:col-span-1">
          <label
            for="RightEyeNotes"
            class="block text-sm font-medium text-gray-700 dark:text-gray-200"
          >
            Notes
          </label>
          <textarea
            type="text"
            id="RightEyeNotes"
            class="w-full mt-1 p-2 ps-2.5 rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200"
            formControlName="rightEyeNotes"
          ></textarea>
        </div>
      </div>
      <div class="col-span-full sm:flex sm:items-center sm:gap-4">
        <input type="submit" [disabled]="form.invalid"
               class="cursor-pointer disabled:opacity-50 inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-2 text-sm font-medium text-white transition enabled:hover:bg-transparent enabled:hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500 dark:enabled:hover:bg-blue-700 dark:enabled:hover:text-white"
               value="Submit"
        />
      </div>
    </form>
  </div>
  <div *ngIf="patient.consultations[selectedConsultationIndex].leftEye!==null">
    <div class="col-span-full lg:col-span-3">
      <div class="flex">
        <a class="rounded-md bg-blue-600 text-white px-4 py-2 text-sm flex items-center active:shadow-inner shadow"
           routerLink="/consultations/create/{{patient.id}}">
          <i class="bi bi-plus text-xl"></i>New Consultation</a>
      </div>
      <div class="grid grid-cols-2 text-sm mt-2">
        <button
          class="{{!isRightEyeSelected?'bg-blue-700':'bg-blue-900'}} rounded-l-md py-2 hover:shadow-inner text-white"
          (click)="onLeftEyeSelected()">Left Eye
        </button>
        <button
          class="{{isRightEyeSelected?'bg-blue-700':'bg-blue-900'}} rounded-r-md py-2 hover:shadow-inner text-white"
          (click)="onRightEyeSelected()">Right Eye
        </button>
      </div>

      <div class="relative">
        <div class="absolute top-0 left-0 m-2 text-white drop-shadow z-10 p-2 rounded-md">
          <h1 class="whitespace-nowrap">{{patient.firstName}} {{patient.lastName}}</h1>
          <h1 class="whitespace-nowrap">{{age}} Ans</h1>
          <h1 class="whitespace-nowrap">{{patient.region}}</h1>
        </div>
        <div class="absolute top-0 right-2 lg:right-60  m-2 text-white drop-shadow z-10 p-2 rounded-md">
          <h1 class="whitespace-nowrap">
            Stade: {{isRightEyeSelected ?
            patient.consultations[selectedConsultationIndex].rightEye?.classification :
            patient.consultations[selectedConsultationIndex].leftEye?.classification}}</h1>
          <h1 class="whitespace-nowrap">Diabete: {{patient.diabetesType}}</h1>
        </div>
        <app-image-canvas
          [src]="environment.apiEndPoint+'/images/'+(isRightEyeSelected?
          patient.consultations[selectedConsultationIndex].rightEye?.picturePath:
          patient.consultations[selectedConsultationIndex].leftEye?.picturePath)
        | authenticate"></app-image-canvas>
      </div>
    </div>
  </div>
  <div class="bg-gray-100 dark:bg-gray-800 rounded-md px-4 py-2 mt-2">
    <h1 class="text-xl">Consultations</h1>
    <table
      class="mt-2 select-none min-w-full divide-y-2 divide-gray-200 bg-white text-sm dark:divide-gray-700 dark:bg-gray-900 rounded-lg ">
      <tr>
        <th class="text-left whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white">Date</th>
        <th class="text-left whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white">Left eye
          classification
        </th>
        <th class="text-left whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white">Right eye
          classification
        </th>
      </tr>
      <tr *ngFor="let consultation of  patient.consultations"
          (click)="onConsultationChanged(patient.consultations.indexOf(consultation))"
          class="hover:shadow-inner cursor-pointer">
        <td class="whitespace-nowrap px-4 py-2 text-gray-700 dark:text-gray-200">
          {{consultation.date}}
        </td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700 dark:text-gray-200">
          {{consultation.leftEye?.classification}}
        </td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700 dark:text-gray-200">
          {{consultation.rightEye?.classification}}
        </td>
      </tr>
    </table>
  </div>
</div>

<div *ngIf="patient && patient.consultations.length === 0"
     class="flex  flex-col justify-center items-center w-full">
  <h1>No consultations</h1>
  <a class="rounded-md bg-blue-600 text-white px-4 py-2 text-sm flex active:shadow-inner shadow"
     routerLink="/consultations/create/{{patient.id}}">
    <svg xmlns="http://www.w3.org/2000/svg"
         class="h-5 w-5 mr-2" viewBox="0 0 16 16" fill="currentColor">
      <path
        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>
    New Consultation
  </a>
</div>
