<div *ngIf="patient && patient.consultations.length > 0">
  <div *ngIf="patient.consultations[selectedConsultationIndex].leftEye===null">
  <app-create-image></app-create-image>
  </div>
  <div *ngIf="patient.consultations[selectedConsultationIndex].leftEye!==null">
    <div class="col-span-full lg:col-span-3">
      <div class="flex">
        <a class="rounded-md bg-blue-600 text-white px-4 py-2 text-sm flex items-center active:shadow-inner shadow"
           routerLink="/consultations/create/{{patient.id}}">
          <i class="bi bi-plus text-xl"></i>New Consultation</a>
      </div>
      <div class="grid grid-cols-2 text-sm mt-2">
        <button
          class="{{!isRightEyeSelected?'bg-blue-700':'bg-blue-900'}} rounded-l-md py-2 hover:shadow-inner text-white"
          (click)="onLeftEyeSelected()">Left Eye
        </button>
        <button
          class="{{isRightEyeSelected?'bg-blue-700':'bg-blue-900'}} rounded-r-md py-2 hover:shadow-inner text-white"
          (click)="onRightEyeSelected()">Right Eye
        </button>
      </div>

      <div class="relative">
        <div class="absolute top-0 left-0 m-2 text-white drop-shadow z-10 p-2 rounded-md">
          <h1 class="whitespace-nowrap">{{patient.firstName}} {{patient.lastName}}</h1>
          <h1 class="whitespace-nowrap">{{age}} Ans</h1>
          <h1 class="whitespace-nowrap">{{patient.region}}</h1>
        </div>
        <div class="absolute top-0 right-2 lg:right-60  m-2 text-white drop-shadow z-10 p-2 rounded-md">
          <h1 class="whitespace-nowrap">
            Stade: {{isRightEyeSelected ?
            patient.consultations[selectedConsultationIndex].rightEye?.classification :
            patient.consultations[selectedConsultationIndex].leftEye?.classification}}</h1>
          <h1 class="whitespace-nowrap">Diabete: {{patient.diabetesType}}</h1>
        </div>
        <app-image-canvas
          [src]="environment.apiEndPoint+'/images/'+(isRightEyeSelected?
          patient.consultations[selectedConsultationIndex].rightEye?.picturePath:
          patient.consultations[selectedConsultationIndex].leftEye?.picturePath)
        | authenticate"></app-image-canvas>
      </div>
    </div>
  </div>
  <div class="bg-gray-100 dark:bg-gray-800 rounded-md px-4 py-2 mt-2">
    <h1 class="text-xl">Consultations</h1>
    <table
      class="mt-2 select-none min-w-full divide-y-2 divide-gray-200 bg-white text-sm dark:divide-gray-700 dark:bg-gray-900 rounded-lg ">
      <tr>
        <th class="text-left whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white">Date</th>
        <th class="text-left whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white">Left eye
          classification
        </th>
        <th class="text-left whitespace-nowrap px-4 py-2 font-medium text-gray-900 dark:text-white">Right eye
          classification
        </th>
      </tr>
      <tr *ngFor="let consultation of  patient.consultations"
          (click)="onConsultationChanged(patient.consultations.indexOf(consultation))"
          class="hover:shadow-inner cursor-pointer">
        <td class="whitespace-nowrap px-4 py-2 text-gray-700 dark:text-gray-200">
          {{consultation.date}}
        </td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700 dark:text-gray-200">
          {{consultation.leftEye?.classification}}
        </td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700 dark:text-gray-200">
          {{consultation.rightEye?.classification}}
        </td>
      </tr>
    </table>
  </div>
</div>

<div *ngIf="patient && patient.consultations.length === 0"
     class="flex  flex-col justify-center items-center w-full">
  <h1>No consultations</h1>
  <a class="rounded-md bg-blue-600 text-white px-4 py-2 text-sm flex active:shadow-inner shadow"
     routerLink="/consultations/create/{{patient.id}}">
    <svg xmlns="http://www.w3.org/2000/svg"
         class="h-5 w-5 mr-2" viewBox="0 0 16 16" fill="currentColor">
      <path
        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>
    New Consultation
  </a>
</div>
